img{
    height: 6.8rem;
    width: 6.8rem;
    border-radius: 50%;
}
#file{
    display: none;
}
label{
    position: absolute;
    bottom: .0rem;
    font-size: 1rem;
    background: rgba(0,0,0,.2);
    width: 100%;
    text-align: center;
    /* display: none; */
}